/*
    charcoal background: #2D333B
    black background: #22272E
    outlines: #444C56
    off white text: #CDD9E5
    light gray text: #ACB9C6
    orange underline: #EC775C
    blue repo name: #539BF5
    yellow JavaScript circle: #F1E05A
    redorange HTML circle: #E34C26
*/

/*GLOBAL*/
body {
    background-color: #0d1116;
}

/*HEADER*/
header {
    height: 130px;
    width: 100%;
    background-color: #02040a;
    padding-left: 10px;
}

#header-top {
    height: 30px;
    width: 100%;
    background-color: blue;
}

nav {
    
}

/*MAIN*/
#left-body { 
    width: 100%;
}
#repos {

}
/*REPO NAV*/

/*CONTAINER*/

/*LEFT PROFILE*/

/*RIGHT REPOS*/
