body {
    background-color: green;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}
header {
    height: 10vh;
    background-color: #444;
}

main {
    height: 90vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar {
    background-color: #d8d8d8;
    width: 15%;
}

#center-section {
    width: 70%;
}
#real-body {
    height: 90%;
}
footer {
    background-color: #222;
    height: 10%;
}
